.container {
  max-width: 960px;
  margin: 0 auto;
  background-color: rgba(71, 61.2, 52.5, 0.6);
  color:white;
  position: relative;
  text-align: center;
}

.thumb {
  max-height: 20em;
  font-weight: bold;

}

.feature {
  max-width: 100%;
}


body {
  background-image: url("nico-bhlr-1233765-unsplash.jpg");
  background-position:center;
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-size:100% auto;
  background-size:cover;
}

h1 {
    display: block;
    font-size: 3em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color:#1A1820;
    text-align: center;
}

ul {
  color:white;
  text-align: center;
  list-style-type: none;
}

nav {
  color:#1A1820;
  font-weight: bold;
  font-size: 1em;
  /* font-style: italic; */
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

div {
  color:red;
}

h2 {
  text-align: center;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;

}

div a {
    padding-left: 10px;
    padding-right: 10px;
}

p {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
