<h1>Places</h1>

<% @places.each do |place| %>
  <%= image_tag place.image, :class => 'thumb' %>

  <ul>
    <li> <%= link_to place.name, place_path(place.id) %></li>
    <li>About: <%= place.about %></li>
  </ul>

<% end %>
<%= link_to 'New place', new_place_path %>
